<div class="container">
    <h2 class="mt-5 pt-5 mb-5 text-center">
        @if (categoria) {
            Editar
        } @else {
            Crear
        } Categoria</h2>

    <div class="row row-cols-lg-2 justify-content-center"> 
        @if(form) {
            <div>
                @if(errors.length) {
                    <div class="alert alert-danger">
                        <p>Ha sucedido los siguientes errores:</p>
                        <ul>
                            @for(error of errors; track error) {
                                <li>{{ error }}</li>
                            }
                        </ul>
                    </div>
                }

                <form [formGroup]="form" (ngSubmit)="save()">
                    <div class="mb-3">
                        <label for="nombre">Nombre Categoria</label>
                        <input type="text" placeholder="Nombre" id="nombre" class="form-control" formControlName="nombre">
                        @if(form.get('nombre')?.hasError('required') && form.get('nombre')?.touched) {
                            <p class="invalid-feedback d-block">El nombre es obligatorio</p>
                        }
                    </div>
                    
                    <div class="text-end">
                        <button type="button" class="btn btn-light" routerLink="/">
                            Cancelar
                        </button>
                        <button class="btn btn-dark ms-2">
                            @if (categoria) {
                                Actualizar
                            } @else {
                                Crear
                            } Categoria
                        </button>
                    </div>
                </form>
            </div>
        }
    </div>
</div>