<nav class="navbar navbar-expand-lg fixed-top" [style.background-color]="bgColor">
    <div class="container">
        <a class="navbar-brand nav-link no-border" href="">
            @if(perfil) {
                <span [style.color]="color">{{ perfil.nombre }}</span>
            } @else {
                <span [style.color]="color">PortalCreator</span>
            }
        </a>
        
        <input id="menu" type="checkbox" (click)="alternarMenu()">
        <label class="toggle cambio" for="menu">
            @if(perfil) {
                <div id="barra1" class="barras" [style.color]="color" [style.--color]="color"></div>
                <div id="barra2" class="barras" [style.color]="color" [style.--color]="color"></div>
                <div id="barra3" class="barras" [style.color]="color" [style.--color]="color"></div>
            } @else {
                <div id="barra1" class="barras" [style.color]="color" [style.--color]="color"></div>
                <div id="barra2" class="barras" [style.color]="color" [style.--color]="color"></div>
                <div id="barra3" class="barras" [style.color]="color" [style.--color]="color"></div>
            }
        </label>

        <div class="collapse navbar-collapse justify-content-end" [ngClass]="{'show': !isMenuMovil}" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    @if(perfil) {
                        <a class="nav-link" [routerLink]="['perfil',perfil.id,'editar']" [style.color]="color" [style.--color]="color">Modificar Perfil</a>
                    } @else {
                        <a class="nav-link" routerLink="/perfil" [style.color]="color" [style.--color]="color">Crear Perfil</a>
                    }
                </li>
            </ul>
        </div>
    </div>
</nav>