<a href="{{ urlCard }}" 
    class="boton-tarjeta w-100"
    [style.color]="isHover ? colorHover : color"
    [style.background-color]="isHover ? color : colorHover"
    [style.border-color]="isHover ? colorHover : color"
    (mouseenter)="entradaHover()"
    (mouseleave)="salidaHover()"
    target="_blank">
    <div class="d-flex align-items-center text-start">
        <div class="mt-2">
            <p class="titulo-tarjeta">{{ titulo }}</p>
            <p class="subtitulo-tarjeta">{{ descripcion }}</p>
        </div>
        
    </div>
</a>
<div class="d-flex align-items-center justify-content-end">
    <a (click)="editar.emit(); $event.stopPropagation()" [style.color]="colorHover" title="Editar Portal">
        <i class="bx bx-edit bx-sm ms-2" style="cursor: pointer;"></i>
    </a>
    <a (click)="borrar.emit(); $event.stopPropagation()" [style.color]="colorHover" title="Borrar Portal">
        <i class="bx bx-trash bx-sm ms-2" style="cursor: pointer;"></i>
    </a>
</div>