/* ESTILOS GLOBALES */

* {
    margin: 0;
    padding: 0;
    font-family: "K2D";
}

@font-face {
    font-family: "K2D";
    src: url(assets/fonts/K2D-SemiBold.ttf);
    font-weight: normal;
    font-style: normal;
}

a {
    text-decoration: none !important;
}

label {
    font-size: 1.7em;
    color: white;
    text-shadow: 0 0 4px black;
}

textarea {
    min-height: 5em !important;
    max-height: 9em;
    
}

input {
    width: 100%;
    padding: 8px;
    color: black;
}

input:focus {
    outline: none;
    box-shadow: 0 0 8px white;
}

button {
    display: inline-block;
    padding: 12px 24px;
    background-color: white;
    color: black;
    cursor: pointer;
}

button:hover {
    background-color: black;
    color: white;
}

input, button {
    border-radius: 8px !important;
    border: 1px solid black;
}

.fondoEntrada {
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.fondoDefault {
    background-image: url("/assets/views/fondo.jpg");
}

.contenidoEntrada {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}