<div [style.background-color]="bgColor" class="pb-5">
@if(perfil) {
    <div class="container col-xl-5 col-lg-6 col-md-8 col-11 " [style.color]="color">
        <!-- PERFIL CON DESCRIPCION -->
        <div class="text-center pt-5 mt-5">
            <div class="fs-1">{{ perfil.nombre }} {{ perfil.apellidos }}</div>
        </div>
        <div class="mt-5 text-start">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
        </div>
        <div class="text-center mt-5">
            <button [style.color]="bgColor" [style.background-color]="color" routerLink="/categoria">
                Añadir Categoria
            </button>
        </div>

        <!-- CADA CATEGORIA CON SU PORTAL -->
        @for(categoria of categorias; track categoria.id) {
        <div class="mt-5">
            <h2 class="mb-4">{{ categoria.nombre }} 
                <a [routerLink]="['categoria',categoria.id,'portal']" [style.color]="color" title="Añadir Portal">
                    <i class='ms-4 bx bx-message-square-add'></i>
                </a>
                <a [routerLink]="['categoria',categoria.id,'editar']" [style.color]="color" title="Editar Categoria">
                    <i class='ms-2 bx bxs-edit'></i>
                </a>
                <a (click)="deleteCategoria(categoria)" [style.color]="color" style="cursor: pointer;" title="Borrar Categoria">
                    <i class='ms-2 bx bx-trash'></i>
                </a>
            </h2>
            @if (portalesCategoria[categoria.id]) {
                @for(portal of portalesCategoria[categoria.id]; track portal.id) {
                    <div class="mb-3">
                        <cardComponent
                            urlCard="{{ portal.link }}"
                            titulo="{{ portal.nombre }}"
                            descripcion="{{ portal.descripcion }}"
                            color="{{ bgColor }}"
                            colorHover="{{ color }}"
                            (editar)="editarPortal(categoria.id, portal.id)"
                            (borrar)="deletePortal(categoria.id,portal)"/>
                    </div>
                }
            }
        </div>
        }
    </div>
} @else {
    <div class="fondoEntrada fondoDefault">
        <div class="contenidoEntrada text-center text-white">
            <h2 class="subtitulo">Bienvenido a</h2>
            <h1 class="titulo">Portal Creator</h1>
        </div>
    </div>
}
</div>